# --- Configuración de PostgreSQL (Contenedor db) ---
POSTGRES_USER=tu_usuario_aqui
POSTGRES_PASSWORD=tu_contrasena_segura_aqui
POSTGRES_DB=coffeecode_db

# --- Configuración de FastAPI (Contenedor web) ---
# Nota: "db" en la URL es el nombre del servicio de base de datos en docker-compose
DATABASE_URL=postgresql://tu_usuario_aqui:tu_contrasena_aqui@db:5432/coffeecode_db
SECRET_KEY=tu_firma_secreta_jwt_aqui
ACCESS_TOKEN_EXPIRE_MINUTES=480
